* {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    max-width: 100vw;
}

html {
    scroll-behavior: smooth;
    background-color: #fcdf6c;
}

/* Navigation Bar */

.navigation {
    display: inline-flex;
    padding-left: 3.5vw;
    padding-top: 1.5vh;
}

.logo img {
    width: 10vw;
}

.logo img:hover {
    color: #7478d7;
}

.nav-links {
    position: relative;
    left: 51vw;
    padding-top: 3.5vh;
    word-spacing: 3vw;
}

.nav-links a {
    font-size: 2vw;
    font-family: "Rowdies", cursive;
    color: black;
    text-decoration: none;
}

#mission:hover {
    color: #7478d7;
}

#products:hover {
    color: #7478d7;
}

#cart:hover {
    color: #7478d7;
}

/* Home Page */

.scooter-welcome {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5vw;
    height: 70vh;
}

.scooter-welcome h1 {
    font-family: Rowdies, cursive;
    font-size: 5vw;
    width: 30vw;
    text-align: center;
}

@-webkit-keyframes slide {
    100% {
        left: 1vw;
    }
}

@keyframes slide {
    100% {
        left: 1vw;
    }
}

/* Animated Scooter */

#man-on-scooter {
    display: inline-block;
    position: relative;
    max-width: 60%;
    height: auto;
    left: -200%;
    -webkit-animation: slide 2s forwards;
    -webkit-animation-delay: 1s;
    animation: slide 2s forwards;
    animation-delay: 1s;
    margin-right: 2vw;
}

/* Mission Section */

.our-mission {
    height: 80vh;
}

.our-mission h2 {
    font-family: Rowdies, cursive;
    font-size: 4vw;
    padding-left: 10vw;
    margin-top: 40vh;
}

.mission-container {
    display: flex;
    width: 100%;
    height: 80vh;
    align-items: center;

}

#plant {
    max-width: 30%;
    height: auto;
}

#our-mission-text {
    font-family: "Quicksand", sans-serif;
    font-size: 1.2vw;
    text-align: justify;
    width: 55%;
    margin-left: 8vw !important;
    line-height: 2vw;
}

/* Products */

.products-heading {
    display: flex;
    float: right;
    padding-right: 10vw;
    margin-top: 20vh;
}

.products-heading h2 {
    font-family: "Rowdies", sans-serif;
    font-size: 4vw;
}

.pricing-table-scroll {
    margin-top: 40vh;
    overflow: scroll;
    width: 100%;
    background-color: #fcdf6c;
    min-width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.pricing-table h3 {
    font-family: "Quicksand", Arial, sans-serif;
}

.pricing-table li {
    font-family: "Quicksand", Arial, sans-serif;
}

.pricing-table {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 1rem;
}

.suoto-scooter {
    background-color: #fcdf6c;
    box-shadow: 0 7px 30px #7478d7;
    border-radius: 18px;
    padding: 2rem;
    width: 30vw;
}

.suoto-scooter:hover {
    background-color: #7478d7;
    opacity: 0.9;
    transition: 100ms;
}

ul {
    list-style-type: none;
    text-align: center;

}

li {
    margin: .8rem;
}

li img {
    width: auto;
    height: 30vh;
    border-radius: 15px;
}

h3 {
    font-size: 2vw;
    text-align: center;
    text-transform: uppercase;
}

.border-bottom {}

.close:hover,
.close:focus {
    color: #7478d7;
    text-decoration: none;
    cursor: pointer;
}

/* Footer */

.site-footer {
    background-color: #7478d7;
    padding: 5vh 10vw 5vh 10vw;
    color: white;
    height: 30vh;
    font-family: "Quicksand", Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-container p {
    font-size: 1rem;
    width: 50%;
    line-height: 2.5vh;
    text-align: justify;
}

.footer-container h6 {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Rowdies", Arial, sans-serif !important;
}

.footer-container li {
    text-align: left;
    position: relative;
    right: 36px;
}

.footer-column2 {
    width: 30%;
}

.footer-column3 {
    width: 30%;
}

.site-footer a {
    color: white;
    text-decoration: none;
}

.site-footer a:hover {
    color: #fcdf6c;
    text-decoration: none;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #fcdf6c;
    text-decoration: none;
}

.social-media-container {
    margin-top: 8vh;
    display: flex;
    justify-content: space-between;
}

.social-media-icons {
    word-spacing: 1.5vw;
    float: right;
    padding-right: 10vw;
}

.fa {
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    color: #fcdf6c;
}
